<section class="fa-conteudo">
    <h2 class="fa-titulo">Introdução ao LESS</h2>

    <div class="fa-area-texto">
        <p><strong>LESS</strong> é um pré-processador de CSS que estende mais funcionalidades ao CSS, como variáveis e mixins.</p>

        <p>Você escreve um arquivo de extensão <em>‘.less’</em>, mas usará no final um de <em>‘.css’</em>.</p>

        <p>Eles servem para facilitar a escrita de CSS, tornando-o mais inteligente, flexível e de fácil manutenção.</p>
    </div>

    <div class="fa-area-subtitulo">
        <h3 class="fa-subtitulo">Instalação</h3>

        <div class="fa-area-texto">
            <p><strong>Pré-requisito:</strong> é necessário ter o Node.js na sua máquina.</p>

            <p>Comando para instalar o LESS:</p>

            <div class="fa-destaque-codigo">
                <p>$ npm install less -g</p>
            </div>
        </div>
    </div>

    <div class="fa-area-subtitulo">
        <h3 class="fa-subtitulo">Como usar</h3>

        <div class="fa-area-texto">
            <p>Mãos à obra!</p>

            <p>Para compilar os arquivos LESS, execute o seguinte comando:</p>

            <div class="fa-destaque-codigo">
                <p>$ grunt style</p>
            </div>

            <p>Para que os arquivos sejam compilados automaticamente, execute o comando abaixo:</p>

            <div class="fa-destaque-codigo">
                <p>$ grunt watch</p>
            </div>
        </div>
    </div>
</section>