<section class="fa-conteudo">
    <h2 class="fa-titulo">Modelo SMACSS</h2>

    <div class="fa-area-texto">
        <p><strong>SMACSS</strong> (Escalável e Arquitetura Modular para CSS) define uma estrutura para organizar o CSS, deixando-o mais flexível e fácil para se manter.</p>

        <p>O SMACSS é baseado em categorizações (padrões), que são <em>Base, Layout, Módulo, Estado e Tema</em>.</p>
    </div>

    <div class="fa-area-subtitulo">
        <h3 class="fa-subtitulo">Regras de Base</h3>

        <div class="fa-area-texto">
            <p>Ele é para definir o estilo padrão de como esse elemento deve ser em todas as ocorrências na página.</p>

            <p>Utiliza-se um arquivo Reset de CSS para retirar ou redefinir a margem padrão, preenchimento, e outras propriedades.</p>

            <div class="fa-imagem">
                <img class="fa-imagem-grande" src="themes/images/img-base.png">
            </div>
        </div>
    </div>

    <div class="fa-area-subtitulo">
        <h3 class="fa-subtitulo">Regras de Layout</h3>

        <div class="fa-area-texto">
            <p>Os principais estilos de layout, como cabeçalho e rodapé são de estilo tradicional usando seletores ID, mas há os elementos que são comuns em todos os componentes da página e para isso é necessário usar os seletores de classes.</p>

            <p>Os componentes principais são referidos como estilos de layout.</p>

            <div class="fa-imagem">
                <img class="fa-imagem-grande" src="themes/images/img-layout.png">
            </div>
        </div>
    </div>

    <div class="fa-area-subtitulo">
        <h3 class="fa-subtitulo">Regras de Módulos</h3>

        <div class="fa-area-texto">
            <p>Cada módulo deve ser criado como um componente independente. Ao fazê-lo, a página será mais flexível.</p>

            <p>Se bem feito, os módulos podem ser facilmente deslocados para diferentes partes do layout sem quebrá-los.</p>

            <p>Os componentes que pertencem à página são os menu, dropdown, botões, tooltip, foto, etc.</p>

            <div class="fa-imagem">
                <img class="fa-imagem-pequena" src="themes/images/img-modules.png">
            </div>
        </div>
    </div>

    <div class="fa-area-subtitulo">
        <h3 class="fa-subtitulo">Regras de Estado</h3>

        <div class="fa-area-texto">
            <p>Um estado é algo que adiciona e substitui todos os outros estilos.</p>

            <p>Os estilos de estado podem aplicar para o layout e/ou estilos de módulos.</p>

            <p>E também indicam uma dependência de JavaScript para os efeitos.</p>

            <p>Geralmente são mensagens de erros e avisos ou até mesmo de seleção do componente.</p>

            <div class="fa-imagem">
                <img class="fa-imagem-grande" src="themes/images/img-estado.png">
            </div>
        </div>
    </div>

    <div class="fa-area-subtitulo">
        <h3 class="fa-subtitulo">Regras de Temas</h3>

        <div class="fa-area-texto">
            <p>O tema define as cores e imagens que dão a sua aplicação ou site a sua aparência.</p>

            <p>Os temas podem substituir os estilos de base, como as cores dos links padrão.</p>

            <div class="fa-imagem">
                <img class="fa-imagem-grande" src="themes/images/img-tema.png">
            </div>
        </div>
    </div>

    <div class="fa-area-subtitulo">
        <h3 class="fa-subtitulo">Nomenclatura AZ</h3>

        <div class="fa-area-texto">
            <p>Há uma convenção nos nomes das variáveis e classes para criar.</p>

            <p>A nomenclatura dos prefixos: <strong>az</strong> (refere-se ao que pertence a AZ), <strong>fa</strong> (refere-se ao que pertence ao fandangos), entre outros.</p>

            <div class="fa-imagem">
                <img class="fa-imagem-grande" src="themes/images/img-variaveis.png">
            </div>
        </div>
    </div>
</section>