@import "../@{az-bootstrap-folder}/normalize.less";

html {
  position: relative;
  min-height: 100%;
}

.fa-body {
  background: transparent;
  color: #444444;
  font-family: 'Open Sans', sans-serif;
  .margin(0, auto, 60px);
}

@media (max-width: 700px) {
  .fa-body {
    background: #ffffff;
  }
}