<section class="fa-conteudo">
    <h2 class="fa-titulo">Conhecendo as bibliotecas</h2>

    <div class="fa-area-subtitulo">
        <h3 class="fa-subtitulo">Frameworks: Bootstrap e Kendo UI</h3>

        <div class="fa-area-texto">
            <p>O projeto utilizará os frameworks Bootstrap e Kendo UI como base para seus componentes.</p>

            <p><strong>Bootstrap - src/base/bootstrap/less/bootstrap.less</strong></p>

            <p><strong>Kendo UI - src/base/kendoui/src/styles/web/common/all.less</strong></p>
        </div>
    </div>



    <div class="fa-area-subtitulo">
        <h3 class="fa-subtitulo">Widgets</h3>

        <div class="fa-area-texto">
            <p>Os widgets são um conjunto de componentes que foram construídos a fim de contribuir no desenvolvimento de sistemas que possam utilizar o mesmo.</p>

            <p>Os componentes do widgets são:</p>

            <div class="fa-imagem">
                <img class="fa-imagem-grande" src="themes/images/img-widgets.png">
            </div>
        </div>
    </div>

    <div class="fa-area-subtitulo">
        <h3 class="fa-subtitulo">Lego</h3>

        <div class="fa-area-texto">
            <p>Biblioteca de componentes reutilizáveis da arquitetura legolas.</p>

            <p>Os componentes do Lego são:</p>

            <div class="fa-imagem">
                <img class="fa-imagem-grande" src="themes/images/img-lego.png">
            </div>
        </div>
    </div>
</section>